html {
  scroll-padding-top: 90px;
}
body {
  padding-top: 50px;
}
@media (min-width: 768px) {
  body {
    padding-top: 90px;
  }
}
.container.body-content {
  max-width: 100% !important;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1200px) {
  .container.body-content {
    max-width: 1200px !important;
  }
}
#wrapper {
  max-width: 100%;
}
@media (min-width: 768px) {
  .sidetoc {
    position: fixed;
    width: 260px;
    top: 150px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
  }
  #navbar > ul.navbar-nav {
    display: none !important;
  }
}
